# 🌐 Application configuration
APP_NAME=my_app
PORT=8000
ENV=development
APP_URL=http://localhost:8000

# open api UI
DOC_PATH=/doc
UI_PATH=/ui

# 🛡️ Security / API keys (example)
BEARER_TOKEN=supersecrettoken123

